<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <style>
        [v-cloak] {
          display: none;
        }
    </style>

    <title>Vue.js demo</title>
</head>

<body class="py-5">
    <div id="app" class="container">
        <div class="pb-3 d-flex flex-column flex-sm-row justify-content-sm-between">
            <h4 v-cloak>{{ show_favorites ? 'Избранное' : 'Общий список' }}</h4>
            <div v-cloak>
                <button
                    v-on:click="toggleView()"
                    type="button"
                    v-bind:class="[(show_favorites ? 'btn-warning' : 'btn-primary'), 'btn btn-sm float-md-right']"
                    >{{ show_favorites ? 'Вернуться к общему списку' : 'Избранное' }}</button>
            </div>
        </div>

        <div class="pb-4">
            <form class="form-inline">
                <select class="form-control mr-2" v-model="filter_category_id">
                    <option value="0">Все категории</option>
                    <option
                        v-for="(category, id) in categories"
                        v-bind:value="id"
                        v-on:change="">{{ category }}</option>
                </select>

                <button v-on:click="filter_category_id = 0" type="button" class="btn btn-primary">Сбросить</button>
            </form>
        </div>

        <div v-if="!countItems()">Ничего не найдено</div>
        <div v-else v-cloak class="row">
            <div
                v-for="(item, id) in items"
                v-if="filter_category_id == 0 || item.category_id == filter_category_id"
                class="col-12 col-md-6 col-lg-4">

                <div class="card mb-3">
                    <img
                        class="card-img-top"
                        v-bind:src="item.image"
                        v-bind:alt="item.title">
                    <div class="card-body">
                        <h5 class="card-title">{{ item.title }}</h5>
                        <p class="card-text">Категория: {{ categories[item.category_id] }}</p>
                        <p class="card-text">Цена: <span class="text-nowrap">{{ item.price }}</span>&nbsp;р.</p>

                        <button
                            v-on:click="toggleFavorite(id)"
                            type="button"
                            v-bind:class="[(isInFavorites(id) ? 'btn-warning' : 'btn-primary'), 'btn btn-sm']"
                            >{{ isInFavorites(id) ? 'Убрать из избранного' : 'Добавить в избранное' }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script src="script.js"></script>
</body>
</html>